// Breakpointns
$tablets: 768px;
$phones: 480px;

//mixins for adadptive
@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }    
}    

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }    
}    

// common mixins
@mixin desc {
    font-family: AlegreyaSans;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;    
    color: #666666;
}


@mixin inputStyle {
    border: none;
    display: block;
    width: 100%;    
    outline: none;
    padding-left: rem(10px);
    &:focus {
    border: solid 3px #dde3bd; 
    }
}

//common styles
* {
    box-sizing: border-box;
}    

html {
    font-size: 16px;
    @include tablets {
        font-size: 12px;
    }    
    @include phones {
        font-size: 12px;
    }    
}    

body {

}    

ul, li, p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}    

a {
    text-decoration: none;
    color: $white;
    display: block;
}    

ul {
    list-style: none;
}    

.wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    // border: 1px solid blue;
    overflow: hidden;
}    

.container {
    margin: 0 auto;
    max-width: 940px;
    width: 95%;
    height: 100%;
}

.section {
    height: 100vh;

    @include phones {
       min-height: 100vh;
    }
}

h2 {
    font-family: AlegreyaSans;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;    
    color: #0d0d0d;
    text-transform: uppercase;
}    

h3 {    
    font-family: AlegreyaSans;
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
    color: #000000;
}    



