.menu {
  display: flex;
  background-image: url(../img/menu/menu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  position: relative;
}

.menu__title {
  color: $white;
  padding-top: rem(104px);
  padding-left: rem(80px);
  @include phones {
    font-size: 40px;
    padding-left: 0;
    padding-left: 25%;
  }
  @include phones {
    font-size: 30px;
  }
}

.menu__content {
  position: absolute;
  right: 0;
  height: 100%;

  .menu__list {
    display: flex;
    height: 100%;
    .menu__item{
      display: flex;
      justify-content: flex-end;
      @include phones {
      width: 33.33%;
      }
    }
  }
  @include phones {
    width: 50%;
  }
}

.menu__subtitle {
  writing-mode: tb-rl;
  transform: rotate(180deg);
  font-family: AlegreyaSans;
  font-size: rem(48px);
  font-weight: 500;  
  color: $white;
  padding-bottom: rem(40px);

  @include phones {
    font-size: 20px;
  }

}

.menu__item-desc {  
  width: 0;
  overflow: hidden;
  font-family: AlegreyaSans;
  font-size: 16px;
  font-weight: normal;  
  line-height: 1.5;  
}

.menu__subtitle-block {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-bottom: rem(40px);
  // width: rem(100px);
  background-size: cover;
  background-repeat: no-repeat;
  @include phones {
    width: 100%;
  }
}

.menu__item-milk {
  background-image: url(../img/menu/kokos.jpg);
}
.menu__item-honey {
  background-image: url(../img/menu/honey.jpg);
}
.menu__item-berries {
  background-image: url(../img/menu/berries.jpg);
}

.menu__item--active {
  .menu__item-desc {
    width: 50%;
    overflow: initial;
    padding: rem(55px);
    position: relative;    
    background-color: rgba(0,0,0,.7);

    @include phones {}
  }
}