.product {
  background-color: #f8faf9;
}

.container--product {
  display: flex;
  position: relative;
  align-items: center;

  @include tablets {
    justify-content: center;
  }
}

.slider__item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.slider__item-title {
  font-size: rem(36px);

  @include phones {
    font-size: rem(30px);
  }
}

.slider__item-subtitle {
  margin-top: rem(40px);
  font-size: rem(24px);

  @include tablets {
    width: 100%;
  }
}

.slider__item-desc {
  margin-top: rem(30px);
  @include desc;
}

.slider__button {
  background-color: $green;
  color: #fff;
  @include phones {
    font-size: 14px;
  }
}

.slider__img-wrap {
  width: 45%;

  @include tablets {
    width: 60%;
  }
}

.slider__img {
  max-width: 100%;
  max-height: 100%;
}

.slider__content-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 45%;

  @include tablets {
    width: 60%;
    text-align: center;
  }

  @include phones {
    width: 80%;
  }
}

.slider__item-calor {
  margin-top: rem(50px);
  width: 35%;
  .calorie {
    font-family: AlegreyaSans;
    font-size: rem(18px);
    color: #333333;
  }
  .calorie__value {
    font-family: AlegreyaSans;
    font-size: rem(18px);
    font-weight: bold;
    color: #333333;
  }
  @include tablets {
    width: 50%;
  }
}

.slider__item-weight {
  margin-top: rem(50px);
  width: 35%;
  .weight {
    font-family: AlegreyaSans;
    font-size: rem(18px);
    color: #333333;
  }
  .weight__value {
    font-family: AlegreyaSans;
    font-size: rem(18px);
    font-weight: bold;
    color: #333333;
  }

  @include tablets {
    width: 50%;
  }
}

.slider__item-price {
  display: flex;
  align-items: flex-end;
  font-family: AlegreyaSans;
  font-size: rem(60px);
  font-weight: 300;
  color: #0d0d0d;
  span {
    display: block;
  }
}

.slider__item-price {
  width: 35%;
  @include tablets {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}

.slider__item-btn {
  width: 65%;
  @include tablets {
    width: 50%;
  }
}

.slider {
  width: 100%;
  position: relative;
  display: flex;
  right: 0;
  transition: 0.2s;
}

.slider__wrap {
  overflow: hidden;
}

.slider__arrow {
  z-index: 30;
  position: absolute;

  @include tablets {
    top: 35%;
  }
  @include phones {
    top: 15%;
  }
}

.slider__arrow--left {
  left: -15px;

  @include tablets {
    left: 0;
  }
  @include phones {
    left: 10%;
  }
}

.slider__arrow--right {
  right: -15px;
  transform: rotate(180deg);

  @include tablets {
    right: 0;
  }
  @include phones {
    right: 10%;
  }
}
