.video {
  background-color: #f8faf9;
  position: relative;
}

.video__berries {
  position: absolute;
  top: rem(-50px);
  @include tablets {
    transform: scale(0.6);
    left: rem(-70px);
    top: rem(-130px);
  }
  @include phones {
    left: rem(-70px);
    top: rem(-130px);
    transform: scale(0.4);
  }
}
.video__leaf {
  position: absolute;
  top: rem(-50px);
  @include tablets {
    transform: scale(0.6);
    left: rem(-60px);
    top: rem(-240px);
  }
  @include phones {
    left: rem(-60px);
    top: rem(-240px);
    transform: scale(0.4);
  }
}

.container--video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video__title {
  text-align: center;
  @include phones {
    font-size: 30px;
  }
}

.player {
  margin-top: 50px;
  width: 70%;
  @include tablets {
    width: 90%;
  }
}

.player__splash {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/video/splash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 30;
}

.player__splash-play {
  display: block;
}

.player__wrapper {
  position: relative;
  background-color: #3e3e3e;
  width: 100%;
  height: 370px;

  @include phones {
    height: 200px;
  }
}
.player__controls {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #3e3e3e;
  padding: 4px 20px 8px;
  @include phones {
    padding: 2px 4px;
  }
}

.player__duration {
  width: 70%;
  height: 100%;
  display: flex;
}

.player__line {
  position: relative;
  height: 4px;
  padding: 0;
  width: 100%;
  margin-left: rem(10px);
  background: #626262;
  z-index: 20;
  @include phones {
    width: 90%;
  }
}

.player__volume {
  margin-left: 5%;
  width: 20%;
  display: flex;
  align-items: center;

  @include phones {
    margin-left: 1%;
  }
}

.player__line-button {
  position: absolute;
  border: none;
  outline: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  left: 0;
  top: -4px;
  background: #626262;
  @include phones {
    width: 12px;
    height: 12px;
  }
}

.player__volume-button {
  left: 20%;
}

.player__volume-line {
  @include phones {
    width: 80%;
  }
}
.player__volume-pic {
  height: 22px;
  width: 20px;
  background-image: url(../img/video/volume.png);
  background-size: cover;
  background-repeat: no-repeat;
  @include phones {
    height: 16px;
    width: 14px;
  }
}

.player__main-btn {
  width: 16px;
  height: 22px;
  overflow: hidden;
}

.player__start {
  background-image: url(../img/video/play_gray.png);
}

.paused {
  background: #3e3e3e;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 100%;
    background: #626262;

    @include phones {
      width: 3px;
      height: 70%;
      top: 20%;
      left: 20%;
    }
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 5px;
    height: 100%;
    background: #626262;
    @include phones {
      right: 20%;
      top: 20%;
      height: 70%;
      width: 3px;
    }
  }
}

.player__wrapper--active > .player__splash {
  display: none;
}

#yt-player {
  width: 100%;
  height: 100%;
}

.html5-video-player {
  object-fit: contain;
}

.ytp-iv-video-content {
}
