.footer {
    width: 100%;
    height: rem(92px);    
    background: #fff;
    @include phones {
        height: rem(150px);
    }  
}

.container--footer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    @include phones {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

address {
    display: block;
    font-family: AlegreyaSans;
    font-size: 21px;    
    line-height: 1.14;   
    color: #010101;
    font-style: normal;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__phone {
    margin-top: rem(5px);
    font-family: AlegreyaSans;
    font-size: 21px;
    color: #0f5a47;
    position: relative;
    padding-left: rem(20px);
    &::after {
        content: '';
        width: 12px;
        height: 12px;
        background-image: url(../img/contacts/phone.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: rem(7px);
        @include phones {
            left: rem(70px);
            bottom: 0;
        }
    }
}

.footer__social-list {
    display: flex;    
    align-items: center;
    @include phones {
        margin-top: rem(10px);
    }
}

.footer__social-item {
    margin-left: rem(20px);
    &:first-child {
        margin-left: 0;
    }    
}

.footer__social-ico {
    width: 20px;
    height: 20px;
    fill: #b2b2b2;
    cursor: pointer;

    &:hover {
        fill: #000000;
    }
}