@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 12px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 12px; } }

body {
  height: 100%;
  -webkit-font-smoothing: antialiased; }

.hidden {
  overflow: hidden; }

ul,
li,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #ffffff;
  display: block; }

ul {
  list-style: none; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  -o-transition: transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms; }

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 95%;
  height: 100%; }

.section {
  height: 100%; }
  @media screen and (max-width: 480px) {
    .section {
      height: 100%; } }
  @media screen and (max-width: 768px) {
    .section {
      height: unset;
      height: 100%; } }

h2 {
  font-family: AlegreyaSans;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  color: #0d0d0d;
  text-transform: uppercase; }

h3 {
  font-family: AlegreyaSans;
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  color: #000000; }

@font-face {
  font-family: "AlegreyaSans";
  src: url(../fonts/AlegreyaSans-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "AlegreyaSans";
  src: url(../fonts/AlegreyaSans-BlackItalic.woff) format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: "AlegreyaSans";
  src: url(../fonts/AlegreyaSans-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "AlegreyaSans";
  src: url(../fonts/AlegreyaSans-BoldItalic.woff) format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "AlegreyaSans";
  src: url(../fonts/AlegreyaSans-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "AlegreyaSans";
  src: url(../fonts/AlegreyaSans-ExtraBoldItalic.woff) format("woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: "AlegreyaSans";
  src: url(../fonts/AlegreyaSans-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "AlegreyaSans";
  src: url(../fonts/AlegreyaSans-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "AlegreyaSans";
  src: url(../fonts/AlegreyaSans-LightItalic.woff) format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "AlegreyaSans";
  src: url(../fonts/AlegreyaSans-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "AlegreyaSans";
  src: url(../fonts/AlegreyaSans-MediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "AlegreyaSans";
  src: url(../fonts/AlegreyaSans-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AlegreyaSans";
  src: url(../fonts/AlegreyaSans-Thin.woff) format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "AlegreyaSans";
  src: url(../fonts/AlegreyaSans-ThinItalic.woff) format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: "MuseoSansCyrl";
  src: url(../fonts/MuseoSansCyrl-500.woff) format("woff");
  font-weight: 500;
  font-style: normal; }

.header {
  width: 100%;
  height: 6.25rem;
  color: #ffffff; }

.header__content {
  padding-top: 1.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media screen and (max-width: 768px) {
  .header__sidebar {
    display: none; } }

@media screen and (max-width: 768px) {
  .header__sidebar.header__sidebar--active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-family: AlegreyaSans;
  font-size: 1.125rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  margin-left: -0.9375rem; }
  @media screen and (max-width: 950px) {
    .sidebar__list {
      font-size: 1rem; } }
  @media screen and (max-width: 768px) {
    .sidebar__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; } }

.sidebar__item {
  margin-left: 1.6875rem; }
  .sidebar__item:first-child {
    margin-left: 0; }
  @media screen and (max-width: 950px) {
    .sidebar__item {
      margin-left: 0.625rem; } }
  @media screen and (max-width: 768px) {
    .sidebar__item {
      margin-left: 0;
      font-size: 2.5rem;
      margin-top: 1.25rem; } }

.header__logo {
  font-family: "MuseoSansCyrl";
  text-transform: uppercase;
  font-size: 24px;
  line-height: 0.88; }

.header__phone a {
  font-family: AlegreyaSans;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  position: relative; }
  .header__phone a::before {
    content: '';
    display: inline;
    width: 0.75rem;
    height: 0.75rem;
    background-image: url(../img/welcome/phone.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -1.125rem;
    top: 0.5rem; }
  @media screen and (max-width: 768px) {
    .header__phone a {
      display: none; } }

@media screen and (max-width: 768px) {
  .burger {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 21; }
    .burger__content {
      position: relative;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .burger__content::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .burger__content::after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
    .burger__line {
      width: 100%;
      height: 4px;
      background-color: #fff;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; } }

.burger.burger--active .burger__line {
  opacity: 0; }

.burger.burger--active .burger__content::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px; }

.burger.burger--active .burger__content::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 8px; }

.welcome {
  width: 100%;
  color: #ffffff;
  background-color: #61c4d9;
  background-image: url(../img/welcome/banner.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative; }
  @media screen and (max-width: 768px) {
    .welcome {
      background-position: right top;
      background-size: 140%; } }
  @media screen and (max-width: 480px) {
    .welcome {
      background-position: 110% top; } }

.welcome__fruit-pic {
  position: absolute;
  bottom: -3.25rem;
  right: 0.8125rem;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    .welcome__fruit-pic {
      top: 12.5rem;
      right: 8.75rem; } }
  @media screen and (max-width: 480px) {
    .welcome__fruit-pic {
      -webkit-transform: scale(0.8, 0.8);
      -ms-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8);
      top: 0;
      right: -6.25rem; } }

.container--welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .container--welcome {
      -webkit-box-align: unset;
      -ms-flex-align: unset;
      align-items: unset; } }

.welcome__main-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .welcome__main-content {
      margin-top: -1.375rem;
      position: unset;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

.welcome__main-text {
  z-index: 2;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .welcome__main-text {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.welcome__main-pic {
  position: absolute;
  right: -3.4375rem;
  top: -7.5rem; }
  @media screen and (max-width: 768px) {
    .welcome__main-pic {
      position: unset;
      display: block;
      width: 55.25%; } }

.welcome__title {
  font-family: AlegreyaSans;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  text-align: left;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .welcome__title {
      margin-top: 4.375rem;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .welcome__title {
      font-size: 40px;
      margin-top: 0; } }

.welcome__desc {
  margin-top: 0.9375rem;
  font-family: AlegreyaSans;
  font-size: 21px;
  font-weight: normal;
  font-style: normal; }
  @media screen and (max-width: 768px) {
    .welcome__desc {
      width: 50%; } }
  @media screen and (max-width: 480px) {
    .welcome__desc {
      font-size: 17px;
      width: 100%; } }

.button {
  margin-top: 2.8125rem;
  color: #0f5a47;
  font-family: AlegreyaSans;
  font-size: 19px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  padding: 18px 35px;
  border: transparent;
  border-radius: 30px;
  background-color: #ffffff; }
  .button:hover {
    cursor: pointer; }
  @media screen and (max-width: 480px) {
    .button {
      margin-top: 1.25rem; } }

.welcome__advantages {
  position: relative;
  z-index: 2;
  margin-top: 4.25rem;
  padding-bottom: 2.9375rem; }
  @media screen and (max-width: 768px) {
    .welcome__advantages {
      width: 80%; } }
  @media screen and (max-width: 480px) {
    .welcome__advantages {
      margin-top: 1.875rem;
      padding-bottom: 0; } }

.welcome__advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 3.4375rem; }
  @media screen and (max-width: 768px) {
    .welcome__advantages-list {
      margin-left: 50px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media screen and (max-width: 480px) {
    .welcome__advantages-list {
      margin-left: 0; } }

.welcome__advantages-item {
  position: relative;
  font-family: AlegreyaSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  width: 20%;
  margin-left: 90px; }
  .welcome__advantages-item:first-child {
    margin-left: 0; }
  .welcome__advantages-item:nth-child(2) {
    padding-left: 0.4375rem; }
  .welcome__advantages-item:nth-child(3) {
    margin-left: 73px; }
  @media screen and (max-width: 768px) {
    .welcome__advantages-item {
      width: 15%; } }
  @media screen and (max-width: 480px) {
    .welcome__advantages-item {
      font-size: 12px;
      margin-left: 40px;
      width: 30%; } }

.welcome__advantages-ico {
  position: absolute;
  left: -55px;
  top: 0;
  fill: transparent;
  stroke: #b0f7ff;
  stroke-width: 0.05rem;
  width: 50px;
  height: 48px; }
  @media screen and (max-width: 480px) {
    .welcome__advantages-ico {
      width: 30px;
      height: 30px;
      left: -2.8125rem; } }

.aside {
  position: fixed;
  top: 33.5%;
  right: 3.125rem;
  z-index: 10; }
  .aside__item {
    margin: 0 0 0.96875rem 0; }
  .aside__link {
    position: relative;
    width: 0.375rem;
    height: 0.375rem;
    display: block;
    border-radius: 50%;
    background-color: #6d639c; }
  @media screen and (max-width: 480px) {
    .aside {
      right: 1.25rem; } }

.aside__active > .aside__link::before {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid #6d639c; }

.why {
  margin: 0 auto;
  background-image: url(../img/why/leaf.png);
  background-repeat: no-repeat;
  background-position: left center;
  position: relative; }

@media screen and (max-width: 480px) {
  .why__title {
    font-size: 30px; } }

.why__raspberry {
  position: absolute;
  bottom: -6.875rem; }
  @media screen and (max-width: 480px) {
    .why__raspberry {
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      left: -4.375rem;
      bottom: -130px; } }

.container--why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .container--why {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.why__title-block {
  width: 43.7%;
  margin: 0 auto;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .why__title-block {
      width: 60%; } }
  @media screen and (max-width: 480px) {
    .why__title-block {
      width: 100%; } }

.why__title-desc {
  font-family: AlegreyaSans;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #666666;
  margin-top: 8px; }
  @media screen and (max-width: 480px) {
    .why__title-desc {
      font-size: 14px;
      margin-top: 4px; } }

.why__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.5625rem;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .why__advantages {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 0;
      margin-bottom: 4.6875rem; } }

.why__advantages-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 32%;
  margin-left: 4.8125rem;
  margin: unset; }
  .why__advantages-item:first-child {
    margin-left: 0; }
  .why__advantages-item:not(:first-child)::before {
    position: absolute;
    content: "";
    display: block;
    width: 4.1875rem;
    height: 1.3125rem;
    background-image: url(../img/why/discs.png);
    left: -25%;
    top: 20%; }
    @media screen and (max-width: 768px) {
      .why__advantages-item:not(:first-child)::before {
        display: none; } }
  @media screen and (max-width: 768px) {
    .why__advantages-item {
      margin-left: 0;
      margin-top: 0.9375rem; } }
  @media screen and (max-width: 480px) {
    .why__advantages-item {
      width: 80%; } }

.why__advantages-pic {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-color: #f2f5f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .why__advantages-pic img {
    display: block; }
  @media screen and (max-width: 480px) {
    .why__advantages-pic {
      height: 70px;
      width: 70px; } }

.why__advantages-title {
  margin-top: 1.875rem; }
  @media screen and (max-width: 480px) {
    .why__advantages-title {
      margin-top: 0.625rem;
      font-size: 16px; } }

.why__advantage-desc {
  font-family: AlegreyaSans;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #666666;
  font-weight: 300;
  margin-top: 1.25rem; }
  @media screen and (max-width: 480px) {
    .why__advantage-desc {
      margin-top: 0.625rem;
      font-size: 12px;
      width: 80%; } }

.why__advantages-svg {
  width: 58%;
  fill: transparent;
  stroke: #2a2a29;
  stroke-width: 0.05rem; }

.product {
  background-color: #f8faf9; }

.container--product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .container--product {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.slider__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .slider__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.slider__item-title {
  font-size: 2.25rem; }
  @media screen and (max-width: 480px) {
    .slider__item-title {
      font-size: 1.875rem; } }

.slider__item-subtitle {
  margin-top: 2.5rem;
  font-size: 1.5rem; }
  @media screen and (max-width: 768px) {
    .slider__item-subtitle {
      width: 100%; } }

.slider__item-desc {
  margin-top: 1.875rem;
  font-family: AlegreyaSans;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #666666; }

.slider__button {
  background-color: #0f5a47;
  color: #fff; }
  @media screen and (max-width: 480px) {
    .slider__button {
      font-size: 14px; } }

.slider__img-wrap {
  width: 45%; }
  @media screen and (max-width: 768px) {
    .slider__img-wrap {
      width: 60%; } }

.slider__img {
  max-width: 100%;
  max-height: 100%; }

.slider__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 45%; }
  @media screen and (max-width: 768px) {
    .slider__content-wrap {
      width: 60%;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .slider__content-wrap {
      width: 80%; } }

.slider__item-calor {
  margin-top: 3.125rem;
  width: 35%; }
  .slider__item-calor .calorie {
    font-family: AlegreyaSans;
    font-size: 1.125rem;
    color: #333333; }
  .slider__item-calor .calorie__value {
    font-family: AlegreyaSans;
    font-size: 1.125rem;
    font-weight: bold;
    color: #333333; }
  @media screen and (max-width: 768px) {
    .slider__item-calor {
      width: 50%; } }

.slider__item-weight {
  margin-top: 3.125rem;
  width: 35%; }
  .slider__item-weight .weight {
    font-family: AlegreyaSans;
    font-size: 1.125rem;
    color: #333333; }
  .slider__item-weight .weight__value {
    font-family: AlegreyaSans;
    font-size: 1.125rem;
    font-weight: bold;
    color: #333333; }
  @media screen and (max-width: 768px) {
    .slider__item-weight {
      width: 50%; } }

.slider__item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: AlegreyaSans;
  font-size: 3.75rem;
  font-weight: 300;
  color: #0d0d0d; }
  .slider__item-price span {
    display: block; }

.slider__item-price {
  width: 35%; }
  @media screen and (max-width: 768px) {
    .slider__item-price {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.slider__item-btn {
  width: 65%; }
  @media screen and (max-width: 768px) {
    .slider__item-btn {
      width: 50%; } }

.slider {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.slider__wrap {
  overflow: hidden; }

.slider__arrow {
  z-index: 30;
  position: absolute; }
  @media screen and (max-width: 768px) {
    .slider__arrow {
      top: 35%; } }
  @media screen and (max-width: 480px) {
    .slider__arrow {
      top: 15%; } }

.slider__arrow--left {
  left: -15px; }
  @media screen and (max-width: 768px) {
    .slider__arrow--left {
      left: 0; } }
  @media screen and (max-width: 480px) {
    .slider__arrow--left {
      left: 10%; } }

.slider__arrow--right {
  right: -15px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
  @media screen and (max-width: 768px) {
    .slider__arrow--right {
      right: 0; } }
  @media screen and (max-width: 480px) {
    .slider__arrow--right {
      right: 10%; } }

.reviews {
  position: relative; }

.reviews__strawberry {
  position: absolute;
  right: -30px;
  top: -10px; }
  @media screen and (max-width: 768px) {
    .reviews__strawberry {
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6); } }
  @media screen and (max-width: 480px) {
    .reviews__strawberry {
      -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
      transform: scale(0.4);
      right: -55px;
      top: -25px; } }

.container--reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.reviews__title {
  text-align: center; }
  @media screen and (max-width: 480px) {
    .reviews__title {
      font-size: 30px; } }

.reviews__top-avatar {
  text-align: center; }
  .reviews__top-avatar img {
    width: 100%; }
    @media screen and (max-width: 768px) {
      .reviews__top-avatar img {
        width: 80%; } }

.reviews__top-review {
  margin-top: 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/reviews/raspberries.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  padding: 3.125rem 0 3.125rem 2.84375rem; }
  @media screen and (max-width: 768px) {
    .reviews__top-review {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 auto;
      width: 60%;
      background-color: #f8faf9; } }
  @media screen and (max-width: 480px) {
    .reviews__top-review {
      width: 90%;
      padding: 0; } }

.reviews__top-content {
  width: 50%;
  margin-left: 1.25rem; }
  @media screen and (max-width: 768px) {
    .reviews__top-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 0;
      width: 100%;
      text-align: center; } }

.reviews__top-title {
  margin-top: 0.75rem;
  font-family: AlegreyaSans;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  color: #323232; }
  @media screen and (max-width: 480px) {
    .reviews__top-title {
      font-size: 20px; } }

.reviews__top-text {
  margin-top: 1.5rem;
  font-family: AlegreyaSans;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #666666;
  line-height: normal; }
  @media screen and (max-width: 480px) {
    .reviews__top-text {
      font-size: 14px;
      margin-top: 1.25rem; } }

.reviews__top-author {
  display: block;
  font-family: AlegreyaSans;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #666666;
  font-weight: 500;
  margin-top: 1.625rem; }

.reviews__all {
  margin-top: 2.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.reviews__all-item {
  margin-left: 2.625rem; }
  .reviews__all-item:first-child {
    margin-left: 0; }

.reviews__all-pic {
  cursor: pointer;
  width: 5.78125rem;
  height: 5.78125rem;
  background-size: cover;
  border-radius: 50%; }
  @media screen and (max-width: 480px) {
    .reviews__all-pic {
      width: 4.53125rem;
      height: 4.53125rem; } }

.reviews__all-girl {
  background-image: url(../img/reviews/girl.jpg);
  background-repeat: no-repeat; }

.reviews__all-girl2 {
  background-image: url(../img/reviews/girl2.jpg);
  background-repeat: no-repeat; }

.reviews__all-guy {
  background-image: url(../img/reviews/guy.jpg);
  background-repeat: no-repeat; }

.reviews--active {
  position: relative; }
  .reviews--active::before {
    content: "";
    position: absolute;
    width: 5.75rem;
    height: 5.75rem;
    border: 0.5rem solid #0f5a47;
    background-color: #0f5a47;
    border-radius: 50%;
    top: -0.5rem;
    left: -0.5rem;
    z-index: -1; }
    @media screen and (max-width: 480px) {
      .reviews--active::before {
        border: 0.5rem solid #0f5a47;
        width: 4.53125rem;
        height: 4.53125rem; } }

.team {
  position: relative; }

.container--team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .container--team {
      -webkit-box-align: unset;
      -ms-flex-align: unset;
      align-items: unset; } }

@media screen and (max-width: 768px) {
  .team__content {
    width: 70%; } }

@media screen and (max-width: 480px) {
  .team__content {
    width: 100%; } }

.team__title {
  text-align: center; }
  @media screen and (max-width: 768px) {
    .team__title {
      padding-top: 3.75rem; } }
  @media screen and (max-width: 480px) {
    .team__title {
      padding-top: 0;
      font-size: 30px; } }

.team__list {
  width: 100%;
  margin-top: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .team__list {
      width: 100%;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media screen and (max-width: 480px) {
    .team__list {
      margin-top: 0; } }

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 23.6%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .team__item {
      width: 50%; } }
  @media screen and (max-width: 480px) {
    .team__item {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.team__avatar {
  height: 18rem;
  width: 13.875rem;
  background-repeat: no-repeat;
  background-size: contain; }
  @media screen and (max-width: 950px) {
    .team__avatar {
      height: 14.375rem;
      width: 11.1rem; } }
  @media screen and (max-width: 480px) {
    .team__avatar {
      width: 9.99rem;
      height: 12.96rem; } }

.team__item {
  text-align: center;
  margin-left: 1rem; }
  .team__item:first-child {
    margin-left: 0; }
  .team__item:nth-child(even) {
    margin-top: 3.125rem; }
  @media screen and (max-width: 768px) {
    .team__item {
      margin-left: 0;
      margin-top: 1.25rem; }
      .team__item:nth-child(even) {
        margin-top: 1.25rem; } }

.team__name {
  position: relative;
  display: block;
  margin-top: 1.5625rem;
  font-family: AlegreyaSans;
  font-size: 1.3125rem;
  font-weight: 500;
  color: #323232;
  text-align: center;
  cursor: pointer; }
  .team__name::after {
    content: "";
    position: absolute;
    /* Абсолютное позиционирование */
    right: -12%;
    top: 40%;
    /* Положение треугольника */
    border: 0.3125rem solid transparent;
    /* Прозрачные границы */
    border-top: 0.375rem solid #0f5a47;
    /* Добавляем треугольник */ }
  @media screen and (max-width: 480px) {
    .team__name {
      margin-top: 0.3125rem; } }

.team__post {
  margin-top: 0.5rem;
  font-family: AlegreyaSans;
  font-size: 1.125rem;
  font-weight: normal;
  color: #281e1e; }

.team__name--active ~ .team__caption {
  opacity: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.team__desc {
  margin-top: 0.25rem;
  font-family: AlegreyaSans;
  font-size: 1.125rem;
  font-weight: 300;
  color: #666666;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.team__name--active::after {
  content: "";
  position: absolute;
  /* Абсолютное позиционирование */
  right: -12%;
  top: 20%;
  border: 0.3125rem solid transparent;
  /* Прозрачные границы */
  border-bottom: 0.375rem solid #0f5a47;
  /* Добавляем треугольник */ }

.team__raspberry {
  position: absolute;
  bottom: -3.125rem;
  left: -4.375rem;
  z-index: 2; }
  @media screen and (max-width: 480px) {
    .team__raspberry {
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      bottom: -3.75rem; } }

.team__caption {
  margin-top: 0.625rem;
  opacity: 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/menu/menu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  position: relative; }

.menu__title {
  color: #ffffff;
  padding-top: 6.5rem;
  padding-left: 5rem; }
  @media screen and (max-width: 480px) {
    .menu__title {
      font-size: 40px;
      padding-left: 0;
      padding-left: 25%; } }
  @media screen and (max-width: 480px) {
    .menu__title {
      font-size: 30px; } }

.menu__content {
  position: absolute;
  right: 0;
  height: 100%; }
  .menu__content .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
    .menu__content .menu__list .menu__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    @media screen and (max-width: 480px) {
      .menu__content .menu__list {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; } }
  @media screen and (max-width: 480px) {
    .menu__content {
      width: 100%; } }

.menu__subtitle {
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  font-family: AlegreyaSans;
  font-size: 3rem;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 2.5rem; }
  @media screen and (max-width: 480px) {
    .menu__subtitle {
      font-size: 20px; } }

.menu__item-desc {
  width: 0;
  overflow: hidden;
  font-family: AlegreyaSans;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5; }

.menu__subtitle-block {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 2.5rem;
  width: 6.25rem;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (max-width: 480px) {
    .menu__subtitle-block {
      width: 4.375rem; } }

.menu__item-milk {
  background-image: url(../img/menu/kokos.jpg); }

.menu__item-honey {
  background-image: url(../img/menu/honey.jpg); }

.menu__item-berries {
  background-image: url(../img/menu/berries.jpg); }

.menu__item--active > .menu__item-desc {
  width: 40vw;
  overflow: initial;
  padding: 3.4375rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8); }
  @media screen and (max-width: 768px) {
    .menu__item--active > .menu__item-desc {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .menu__item--active > .menu__item-desc {
      font-size: 0.75rem;
      padding: 0.9375rem; } }

.order {
  background-image: url(../img/order/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #0f5a47;
  position: relative; }

.order__berry {
  position: absolute;
  left: 1.25rem;
  bottom: 25%; }
  @media screen and (max-width: 768px) {
    .order__berry {
      display: none; } }

.order__leaf {
  position: absolute;
  right: 0;
  bottom: 25%; }
  @media screen and (max-width: 768px) {
    .order__leaf {
      display: none; } }

.order__leafs {
  position: absolute;
  right: 0;
  top: -8.125rem; }
  @media screen and (max-width: 480px) {
    .order__leafs {
      -webkit-transform: scale(0.3);
      -ms-transform: scale(0.3);
      transform: scale(0.3);
      right: -5.9375rem;
      top: -11.25rem; } }

.container--order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

input {
  border: none;
  display: block;
  width: 100%;
  outline: none;
  padding-left: 0.625rem;
  height: 3.75rem;
  font-family: AlegreyaSans;
  font-size: 18px; }
  input:focus {
    border: solid 3px #dde3bd; }

textarea {
  display: block; }

.order__title {
  text-align: center;
  color: #0f5a47; }
  @media screen and (max-width: 480px) {
    .order__title {
      font-size: 30px; } }

.order__label {
  display: block;
  width: 100%;
  font-family: AlegreyaSans;
  font-size: 1.125rem;
  color: #0f5a47;
  line-height: 1.67;
  margin-top: 0.625rem; }

.order__label--half {
  width: 48%; }

.order__label--full {
  width: 100%; }

.order__label--quad {
  width: 22%; }

.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.75rem; }
  @media screen and (max-width: 768px) {
    .order__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.order__content {
  width: 49%; }
  @media screen and (max-width: 480px) {
    .order__content {
      width: 99%; } }

.order__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.order__comment {
  border: none;
  display: block;
  width: 100%;
  outline: none;
  padding-left: 0.625rem;
  max-height: 11.25rem;
  resize: none; }
  .order__comment:focus {
    border: solid 3px #dde3bd; }
  @media screen and (max-width: 480px) {
    .order__comment {
      max-height: 6.25rem; } }

.order__interface {
  margin-top: 0.625rem; }

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 2.1875rem;
  cursor: pointer; }

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.625rem;
  height: 1.625rem;
  background-color: #ffffff; }

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px; }

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%; }

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 0.375rem;
  top: 0.375rem;
  width: 0.625rem;
  height: 0.3125rem;
  border-left: 3px solid #0f5a47;
  border-bottom: 3px solid #0f5a47;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 0.375rem;
  top: 0.375rem;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
  background-color: #0f5a47; }

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0; }

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1; }

.order__button-submit {
  background: #0f5a47;
  color: #ffffff; }

.order__button-reset {
  font-family: AlegreyaSans;
  font-size: 18px;
  color: #0f5a47;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1.875rem; }

@media screen and (max-width: 480px) {
  .order__label-recall {
    width: 50%;
    margin-left: 25%; } }

.popup {
  position: fixed;
  display: none;
  z-index: 40; }
  .popup--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); }
  .popup__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: AlegreyaSans;
    font-weight: normal;
    font-size: 18px;
    width: 300px;
    height: 175px;
    background-color: #fff; }
  .popup__button {
    background-color: #0f5a47;
    color: #fff; }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

#map {
  width: 100%;
  height: 100%; }

.footer {
  width: 100%;
  height: 5.75rem;
  background: #fff; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 9.375rem; } }

.container--footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .container--footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

address {
  display: block;
  font-family: AlegreyaSans;
  font-size: 21px;
  line-height: 1.14;
  color: #010101;
  font-style: normal; }

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.footer__phone {
  margin-top: 0.3125rem;
  font-family: AlegreyaSans;
  font-size: 21px;
  color: #0f5a47;
  position: relative;
  padding-left: 1.25rem; }
  .footer__phone::after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: url(../img/contacts/phone.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0.4375rem; }
    @media screen and (max-width: 480px) {
      .footer__phone::after {
        left: 4.375rem;
        bottom: 0; } }

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__social-list {
      margin-top: 0.625rem; } }

.footer__social-item {
  margin-left: 1.25rem; }
  .footer__social-item:first-child {
    margin-left: 0; }

.footer__social-ico {
  width: 20px;
  height: 20px;
  fill: #b2b2b2;
  cursor: pointer; }
  .footer__social-ico:hover {
    fill: #000000; }

.video {
  background-color: #f8faf9;
  position: relative; }

.video__berries {
  position: absolute;
  top: -3.125rem; }
  @media screen and (max-width: 768px) {
    .video__berries {
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6);
      left: -4.375rem;
      top: -8.125rem; } }
  @media screen and (max-width: 480px) {
    .video__berries {
      left: -4.375rem;
      top: -8.125rem;
      -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
      transform: scale(0.4); } }

.video__leaf {
  position: absolute;
  top: -3.125rem; }
  @media screen and (max-width: 768px) {
    .video__leaf {
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6);
      left: -3.75rem;
      top: -15rem; } }
  @media screen and (max-width: 480px) {
    .video__leaf {
      left: -3.75rem;
      top: -15rem;
      -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
      transform: scale(0.4); } }

.container--video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.video__title {
  text-align: center; }
  @media screen and (max-width: 480px) {
    .video__title {
      font-size: 30px; } }

.player {
  margin-top: 50px;
  width: 70%; }
  @media screen and (max-width: 768px) {
    .player {
      width: 90%; } }

.player__splash {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(../img/video/splash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 30; }

.player__splash-play {
  display: block; }

.player__wrapper {
  position: relative;
  background-color: #3e3e3e;
  width: 100%;
  height: 370px; }
  @media screen and (max-width: 480px) {
    .player__wrapper {
      height: 200px; } }

.player__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-color: #3e3e3e;
  padding: 4px 20px 8px; }
  @media screen and (max-width: 480px) {
    .player__controls {
      padding: 2px 4px; } }

.player__duration {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.player__line {
  position: relative;
  height: 4px;
  padding: 0;
  width: 100%;
  margin-left: 0.625rem;
  background: #626262;
  z-index: 20; }
  @media screen and (max-width: 480px) {
    .player__line {
      width: 90%; } }

.player__volume {
  margin-left: 5%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .player__volume {
      margin-left: 1%; } }

.player__line-button {
  position: absolute;
  border: none;
  outline: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  left: 0;
  top: -4px;
  background: #626262; }
  @media screen and (max-width: 480px) {
    .player__line-button {
      width: 12px;
      height: 12px; } }

.player__volume-button {
  left: 20%; }

@media screen and (max-width: 480px) {
  .player__volume-line {
    width: 80%; } }

.player__volume-pic {
  height: 22px;
  width: 20px;
  background-image: url(../img/video/volume.png);
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (max-width: 480px) {
    .player__volume-pic {
      height: 16px;
      width: 14px; } }

.player__main-btn {
  width: 16px;
  height: 22px;
  overflow: hidden; }

.player__start {
  background-image: url(../img/video/play_gray.png); }

.paused {
  background: #3e3e3e;
  position: relative; }
  .paused::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 100%;
    background: #626262; }
    @media screen and (max-width: 480px) {
      .paused::after {
        width: 3px;
        height: 70%;
        top: 20%;
        left: 20%; } }
  .paused::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 5px;
    height: 100%;
    background: #626262; }
    @media screen and (max-width: 480px) {
      .paused::before {
        right: 20%;
        top: 20%;
        height: 70%;
        width: 3px; } }

.player__wrapper--active > .player__splash {
  display: none; }

#yt-player {
  width: 100%;
  height: 100%; }

.html5-video-player {
  -o-object-fit: contain;
  object-fit: contain; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative; }

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none; }

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  -webkit-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease; }

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  -o-transition: transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #869791;
  color: #fff;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }
